# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    strategy:
      matrix:
        # TODO add macos-latest and fix https://github.com/mark-wiemer/vscode-helloworld/issues/10
        os: [ubuntu-latest, windows-latest]
        node-version: [16.x]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm install
      # ubuntu "Failed to connect": see https://github.com/microsoft/vscode-test/issues/127
      - run: xvfb-run -a npm run validate
        if: runner.os == 'Linux'
      # mac "CoreText note": https://github.com/electron/fiddle/issues/586
      - run: npm run validate
        if: runner.os != 'Linux'
